body {
  margin: 0 auto;
}

.wrapper {
  margin: auto;
  width: 88%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  margin: 32px 0px 0 0px;
}

.menu {
  margin-top: 48px;
}

.menu-left_item,
.menu-right_item {
  color: #000;
  text-decoration: none;
  font: 600 12px/11px "Gotham Pro", arial, helvetica, sans-serif;
  padding-right: 30px;
}

.menu-left_item:last-child {
  padding-right: 0;

}

.menu-left {
  left: 7px;
  position: relative;
}

.menu-right {
  margin-left: 155px;
}

.menu-right_item_active::after {
  content: url('img/1170/header/number1.svg');
  position: relative;
  left: 5px;
  top: 3px;
  padding-right: 0;
}

.menu-right_item:last-child {
  padding-right: 0;
}

.search {
  position: relative;
  left: 160px;
  top: 72px;
  width: 178px;
  border-top: 1px solid #000;
}

.lupa__icon {
  position: relative;
  top: -20px;
  left: 163px;
  height: 14px;
}

.flag__icon {
  height: 20px;
  margin-top: 50px;
}

.main {
  overflow-x: hidden;
}

.skeiter {
  margin-top: 24px;
  background: no-repeat center url('img/1170/bigimg.svg');
  height: 280px;
}

.line-arrow {
  position: relative;
  border-top: 1px solid #fff;
  width: 43px;
  top: 197px;
  left: 137px;
}

.arrow {
  position: relative;
  top: 194px;
  left: 175px;
  width: 4px;
  height: 4px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 1px 1px;
  transform: rotate(45deg);
}

h1 {
  margin: 0;
  padding-top: 82px;
  padding-left: 60px;
  width: 195px;
  color: #fff;
  font: 600 30px/29px "Gotham Pro", arial, helvetica, sans-serif;
}

.shop {
  margin-top: 17px;
  display: inline-block;
  padding-left: 60px;
  color: #fff;
  font: 600 12px/11px "Gotham Pro", arial, helvetica, sans-serif;
}

.sneakers__text {
  font: 600 22px/21px "Gotham Pro", arial, helvetica, sans-serif;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 20px;
}

.sneakers-conteiner {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  width: 95vw;
}

.sneakers-1 {
  margin-left: 16px;
  margin-right: 75px;
}

.sneakers-4 {
  padding-right: 100px;
}

.sneakers-1_image,
.sneakers-2_image,
.sneakers-3_image,
.sneakers-4_image {
  margin-left: 5px;
  margin-bottom: 11px;
}

.info-sneakers {
  position: relative;
  right: 7px;
}

.model-1,
.model-2,
.model-3,
.model-4 {
  margin-bottom: 0px;
  font: 400 12px/11px "Gotham Pro", arial, helvetica, sans-serif;
}

.price-1,
.price-2,
.price-3,
.price-4 {
  margin: 8px 2px;
  font: 600 14px/13px "Gotham Pro", arial, helvetica, sans-serif;
}

.stick {
  display: inline-block;
  width: 0px;
  height: 100px;
  opacity: 0.2;
  border: 1px solid #000000;
}

.stick-1 {
  position: relative;
  top: -205px;
  left: 250px;
}

.stick-2 {
  position: relative;
  top: -205px;
  left: 510px;
}

.stick-3 {
  position: relative;
  top: -205px;
  left: 768px;
}

.elips-1, .elips-2, .elips-3, .elips-4 {
  display: flex;
  top: -17px;
  left: 155px;
  position: relative;
}

.elips-1__2_big, .elips-2__2_big, .elips-3__2_big, .elips-4__2_big {
  margin-top: -1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #0E1211;
  margin-right: 8px;
}

.elips__small {
  width: 7px;
  height: 7px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-right: 8px;
}

.elips-1__3, .elips-2__3, .elips-4__3 {
  background: #B62E3C;
}

.elips-1__4, .elips-2__4, .elips-3__4, .elips-4__4 {
  background: #FDB431;
}


.elips-2__2_big {
  background: #E29D69;
}


.elips-3__2_big {
  background: #762E31;
}

.elips-3__3 {
  background: #41479B;
}

.elips-4__2_big {
  background: #257DA9;
}


@media screen and (min-width: 1024px) and (max-width: 1169px) {
  .wrapper {
    width: 90%;
  }

  .header {
    background: no-repeat 0 35px url('img/1024/axion-logo.svg');
    height: 132px;
  }

  .logo__icon {
    display: none;
  }

  .search {
    width: 161px;
    left: 185px;
    margin-right: 190px;
  }

  .menu-left {
    position: relative;
    left: 65px;
  }

  .menu-right {
    margin-left: 0px;

  }


  .menu-right_item {
    padding-right: 25px;
  }

  .lupa__icon {
    left: 145px;
  }




  .skeiter {
    margin: 0;
    background: no-repeat center url('img/1024/bigimg.svg');
  }

}
